---
import { memberIndex } from "@/lib/constants";
import Layout from "@/layouts/Layout.astro";
import MiniGallery from "@/components/MiniGallery.astro";
import Preview from "@/components/Preview.svelte";
import ActionButtons from "@/components/ActionButtons.svelte";
import Header from "@/components/Header.astro";

const { member } = Astro.params;

const visual = Array(10)
  .fill("")
  .map((_, i) => `Photocard_Visual_${memberIndex[member]}_${i + 1}.png`);

const moving = Array(10)
  .fill("")
  .map((_, i) => `Photocard_Visual_Moving_${memberIndex[member]}_${i + 1}`);
---

<Layout>
  <div class="container mx-auto my-8 h-screen min-h-screen">
    <Header />
    <div class="grid grid-cols-1 md:grid-cols-12">
      <div class="col-span-4" transition:name="preview">
        <Preview client:load />
      </div>
      <div class="col-span-8 content-start px-8 pt-12">
        <p class="mb-4 text-sm font-bold uppercase">
          Step 02. Choose the visual card you like best
        </p>
        <MiniGallery
          header="Visual - Still Images"
          media={visual}
          type="image"
        />
        <MiniGallery
          header="Visual - Moving Images"
          media={moving}
          type="video"
        />

        <ActionButtons client:load page="visual" />
      </div>
    </div>
  </div>
</Layout>
