---
import Layout from "@/layouts/Layout.astro";
import { members } from "@/lib/constants";
import { buildUrl } from "@/lib/image";
---

<Layout>
  <main>
    <div
      class="container mx-auto grid min-h-screen grid-cols-1 py-4 md:grid-cols-3"
    >
      {
        members.map(member => (
          <div class="p-4">
            <a href={`/digitalsouvenir/${member}/visual`}>
              <img
                src={buildUrl(`${member}/card.png`)}
                class="w-full transition-all duration-300 ease-in-out hover:-translate-y-1 hover:brightness-110"
                alt={member}
                crossorigin="anonymous"
              />
            </a>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
